code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

html {
  scroll-snap-type: y mandatory;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0;
}

h2 {
  margin: 0;
  color: var(--accent);
  left: calc(50% + 130px);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
}

section {
  height: max-content;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

section > div {
  position: relative;

  margin: 20px;

  overflow: hidden;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: red;
  bottom: 100px;
}

.striped-bg {
  background: repeating-linear-gradient(
    45deg,
    /* Góc của sọc */ #38a169,
    /* Màu xanh lá */ #38a169 10px,
    /* Kích thước của sọc */ #2f855a 10px,
    /* Màu xanh lá đậm */ #2f855a 20px /* Kích thước của sọc */
  );
}
